@import url(http://reset5.googlecode.com/hg/reset.min.css);

body {
  max-width: 800px;
  margin: auto;
  padding: 0px 25px 50px 25px;
  font-family: "Alegreya",Helvetica,Arial,sans-serif;
  font-size: 20px
  line-height: 1.4;
  color: #222222
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  color:#333333;
  background-color: #FFF8E7;
}

#container {
  width: 900px;
  margin: 0 auto;
  padding: 4em 0 8em;
  box-sizing: border-box;
}

p {
  line-height:1.5;
  font-size: 20px;
}

a {
  text-decoration:none;
  color:#000000;
}

a:hover {
  color: #777777;
}


h1 {
  font-size: 44px;
  font-family: 'Abril Fatface',serif;
  letter-spacing: 0.1em;
  color: #333333;
  text-align: center;
  padding-top: 25px;
}

h2 {
  font-family: 'Alegreya';
  color: #900909;
  text-transform: uppercase;
  font-weight: 900;
  padding: 80px 20px 10px;
    clear: both;
}

strong {
  font-weight: 700;
  color: #222222;
}

#about {
  width: 450px;
  padding: 40px 20px 0;
  margin-left: 300px;
  position: relative;
}

.item {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 33%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  margin: 0 1px 0 -1px;
  overflow: hidden;
}

@media screen and (max-width:900px) {
  #container {
    width: 600px;
  }
  #about {
    margin-left: 170px;
    width: 390px;
  }
}

@media screen and (max-width:624px) {
  #container {
    width: auto;
    padding: 0;
  }
  #about {
    width: auto;
    margin-left: 0;
  }
}